{% import _self as macros %}

{% set scope = {
    items: items ?? [],
    column: column ?? false,
    white: white ?? false,
} %}

{% macro content(scope) %}
    <ul class="
        Nav 
        {{ scope.column ? "Nav_column" : "" }}
        {{ scope.white ? "Nav_white" : "" }}
    ">
        {% for elem in scope.items %}
            {% set item = {
                url: elem.url ?? '',
                name: elem.name ?? '',
            } %}

            <li class="Nav__listItem">
                <a href="{{ item.url }}" class="Nav__item">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{{ macros.content(scope) }}